.HomePage {
    height: 100%;
    width:100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    background-image: url('../../public/BackgroundHomePage_PP.JPG');
}

.welcomeHeader {
    color: #134e7d;
    font-size: 50px;
    font-weight: bolder;
    margin: 0 0 10px 0;
}

.PushPinMapHeader {
    color: #a3c0d7;
    font-size: 100px;
    font-weight: bolder;
    background-color: #134e7d;
    display: inline;
    padding: 0px 40px;
    margin: 15px;
}

.ExplinationHeader{
    color: #134e7d;
    font-size: 20px;
    font-weight: bolder;
    margin: 15px;
}

.GoogleSignInButton{
    align-items: center;
    margin-top: 100px;
    background-color: #f8f8f8;
    border-style:ridge;
    border-color: lightslategray;
    display: inline-flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1b67a6;
    font-weight: bolder;
    font-size: 20px;
    padding-right: 15px;
    vertical-align: middle;
}

button img{
position: relative;
}

.GoogleMarker {
    transform: rotate(-.93turn);
    left: -45px;
    position: relative;
    top: -58px;
}