.SettingActionButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.SetBtn{
    margin-bottom: 7px;
    background-color: #134e7d;
    color: #f8f8f8;
    border-style:none;
    border-color: lightblue;
    font-weight: bold;
    font-size: 17px;
}

.popup-content.settings-content{
    background-color: #dfedf9;
}