.mapOuterContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mapInnerContainer{
    width: 825px;
    height: 600px;
}

.PinInfo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #134e7d;
    font-weight: bold;
}

.selector-control{
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.RemovePinBtn{
margin-top: 10px;
background-color: #134e7d;
color: #f8f8f8;
border-style: none;
border-color: lightblue;
font-weight: bold;
}

.InfoWindow{
    background-color: #dfedf9;
}

.Loading{
    color: #f8f8f8;
}

.locationSelector{
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 150px;
    margin: 10px;
}

.centerMapButton {
    font-size: 1em;
    left: 350px;
    margin: 10px;
    position: absolute;
}